html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.icon {
    padding: 7px 0px 0px 0px;
    height: 2.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 115, 230); /*search*/
    color: white;
}

.brand-title {
    padding: 0px 10px 0px 20px;
    font-size: 1.5rem;
    background-color: rgb(0, 115, 230);
}

.dropbtn {
    background-color: rgb(0, 115, 230); /*search*/
    color: white;
    padding: 14px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(0, 0, 255); /*search*/
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.btna {
    color: white;
    margin: 0px 0px;
    font-size: 1rem;
    height: 2.2rem;
    width: 5.3rem;
    border-radius: 10px;
    opacity: 0.8;
    outline: none;
}

.btna:hover,
.btna:focus {
    opacity: 1;
}

a .btna {
    text-decoration: none;
}

.red-btna {
    background-color: red;
    opacity: 0.7;
}

.green-btna {
    background-color: green;
}

.blue-btna {
    background-color: blue;
    opacity: 0.7;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: green;
}